# Lists and Loops

***Lists*** are a Python data type. Lists are always encased in `[ ]` square brackets with each list item separated by a `,`

`characters = ['Han Solo', 'Luke Skywalker', 'C3PO', 'R2D2']`

Lists can contain any Python data type:

`random_list = ['Halloween', 'monster', 2024, ['Snickers', 'M&Ms','Mars Bars'],{'dog': 'Jordan','age':8,'color':'black'}]`

In [ ]:
characters = ['Han Solo', 'Luke Skywalker', 'C3PO', 'R2D2']
type(characters)

In [ ]:
random_list = ['Halloween', 'monster', 2024, ['Snickers', 'M&Ms','Mars Bars'],{'dog': 'Jordan','age':8,'color':'black'}]
type(random_list)

## Slicing or Extracting List Items

Just like strings, to extract items from a list use the syntax:

`list_name[start_index:stop_index:step]`

In [ ]:
characters = ['Han Solo', 'Luke Skywalker', 'C3PO', 'R2D2']

#EXTRACT THE FIRST ITEM FROM CHARACTERS 
first_character=characters[0]
print(first_character)

#EXTRACT THE LAST THREE ITEMS FROM CHARACTERS
last3_characters=characters[1:]
print(last3_characters)

In [231]:
#WHAT IS ANOTHER WAY WE CAN EXTRACT THE LAST THREE ITEMS FROM CHARACTERS?

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

#HOW CAN I EXTRACT EVERY SECOND ITEM FROM NUMBERS?

even_numbers=#insert statement here
print(even_numbers)

## List Methods

| **List Method** | **Explanation**                                                                                   |
|-------------|---------------------------------------------------------------------------------------------------|
| `list.append(another_item)`          | adds new item to end of list                                                                                |
| `list.extend(another_list)`        | adds items from another_list to list                                                |
| `list.remove(item)`        | removes first instance of item                                                       |
| `list.sort(reverse=False)`       | sort the order of list                                                                                 |                                                     |
| `list.reverse()`       | reverses order of list                                                                                 |                                                     |

In [246]:
dogs = ['Jordan','Lilah','Benny','Belle']

#HOW CAN I ADD A DOG TO THIS LIST?

dogs.append('Ruby')
print(dogs)

['Jordan', 'Lilah', 'Benny', 'Belle', 'Ruby']

In [248]:
#HOW CAN I REMOVE A DOG FROM THE LIST DOGS?

dogs.remove('Belle')
print(dogs)

['Jordan', 'Lilah', 'Benny', 'Ruby']

In [250]:
#HOW CAN I ADD A LIST OF NEW DOGS TO THE ORIGINAL LIST DOGS?

new_dogs=['Toby1', 'Toby2','Yuki']
dogs.extend(new_dogs)
print(dogs)

['Jordan', 'Lilah', 'Benny', 'Ruby', 'Toby1', 'Toby2', 'Yuki']

In [ ]:
# HOW CAN I SORT MY LIST OF DOGS ALPHABETICALLY

In [ ]:
# HOW CAN I SORT MY LIST OF DOGS IN REVERSE ALPHABETICAL ORDER?

## The `For` Loop

Python programs often assign a plural variable when naming a list. A `for` loop with a singular variable is then assigned to tell Python to do something with each item in a list sequence. What does this mean?

`dogs = ['Jordan', 'Lilah', 'Benny', 'Ruby', 'Toby1', 'Toby2', 'Yuki']`

`for dog in dogs:`\
`    print(dog)`

This statement tells Python to look at each dog in the dogs list and print the name of the dog.

In [252]:
for dog in dogs:
    print(dog)

Jordan
Lilah
Benny
Ruby
Toby1
Toby2
Yuki

In [254]:
#I CAN TELL PYTHON TO ONLY RETURN THE NAMES OF THE LAST 3 DOGS
for dog in dogs[-3:]:
    print(dog)

Toby1
Toby2
Yuki

In [256]:
#I CAN USE CONDITIONAL STATEMENTS TO ASSIGN OWNERS TO EACH DOG
for dog in dogs:
    if dog=='Jordan':
        print('Jordan\'s mom is Sarah')
    elif dog == 'Liliah' or dog == 'Benny':
        print('Lilah and Benny\'s mom is Becky')
    elif dog == 'Toby1' or dog=='Toby2':
        print('Toby1 and Toby2\'s mom is Miriam')
    elif dog == 'Ruby':
        print('Ruby\'s mom is Carol')
    elif dog == 'Yuki':
        print('Yuki\'s dad is Vivek')

Jordan's mom is Sarah
Lilah and Benny's mom is Becky
Ruby's mom is Carol
Toby1 and Toby2's mom is Miriam
Toby1 and Toby2's mom is Miriam
Yuki's dad is Vivek

## Practice
Let's practice using a list of [presidents](https://president.osu.edu/about-office/past-presidents) of The Ohio State University!

- Edward Francis Baxter Orton Sr, 1873-1881
- Walter Quincy Scott, 1881-1883
- William Henry Scott, 1883-1895
- James Hulme Canfield, 1895-1899
- William Oxley Thompson, 1899-1925
- George Washington Rightmire, 1925-1938
- William McPherson, 1938-1940
- Howard Landis Bevis, 1940-1956
- Novice Gail Fawcett, 1956-1972
- Harold Leroy Enarson, 1972-1981
- Edward Harrington Jennings, 1981-1990
- E. Gordon Gee, 1990-1998
- John Richard Sisson, 1997-1998
- William English Kirwan, 1998-2002
- Edward Harrington Jennings, 2002
- Karen Ann Holbrook, 2002-2007
- Joseph A. Alutto, 2007
- E. Gordon Gee, 2007-2013
- Joseph A. Alutto, 2013-2014
- Michael V. Drake, 2014-2020
- Kristina M. Johnson, 2020-2023
- Peter J. Mohler, 2023
- Walter "Ted" Carter, Jr., 2024-

In [258]:
presidents=["Edward Francis Baxter Orton Sr","Walter Quincy Scott","William Henry Scott","James Hulme Canfield","William Oxley Thompson",
            "George Washington Rightmire","William McPherson","Howard Landis Bevis","Novice Gail Fawcett","Harold Leroy Enarson",
            "Edward Harrington Jennings","E. Gordon Gee","John Richard Sisson","William English Kirwan","Edward Harrington Jennings",
            "Karen Ann Holbrook","Joseph A. Alutto","E. Gordon Gee","Joseph A. Alutto","Michael V. Drake","Kristina M. Johnson",
            "Peter J. Mohler",'Walter "Ted" Carter, Jr.']

print(presidents)

['Edward Francis Baxter Orton Sr', 'Walter Quincy Scott', 'William Henry Scott', 'James Hulme Canfield', 'William Oxley Thompson', 'George Washington Rightmire', 'William McPherson', 'Howard Landis Bevis', 'Novice Gail Fawcett', 'Harold Leroy Enarson', 'Edward Harrington Jennings', 'E. Gordon Gee', 'John Richard Sisson', 'William English Kirwan', 'Edward Harrington Jennings', 'Karen Ann Holbrook', 'Joseph A. Alutto', 'E. Gordon Gee', 'Joseph A. Alutto', 'Michael V. Drake', 'Kristina M. Johnson', 'Peter J. Mohler', 'Walter "Ted" Carter, Jr.']

In [ ]:
#1. PRINT THE NAME OF EACH PRESIDENT IN THE PRESIDENTS LIST

## Index | Enumerate
We can find the index position of an item in a list using a number of different strategies.

We can use a `for` loop with the built-in `index()` method.

- First we ask Python to look at each president in the presidents list
- Then we ask Python to give us each president's index position
- Last we ask Python to print the president's index position and name.

In [261]:
for president in presidents:
    president_index_position=presidents.index(president)
    print(str(president_index_position)+' '+president)

0 Edward Francis Baxter Orton Sr
1 Walter Quincy Scott
2 William Henry Scott
3 James Hulme Canfield
4 William Oxley Thompson
5 George Washington Rightmire
6 William McPherson
7 Howard Landis Bevis
8 Novice Gail Fawcett
9 Harold Leroy Enarson
10 Edward Harrington Jennings
11 E. Gordon Gee
12 John Richard Sisson
13 William English Kirwan
10 Edward Harrington Jennings
15 Karen Ann Holbrook
16 Joseph A. Alutto
11 E. Gordon Gee
16 Joseph A. Alutto
19 Michael V. Drake
20 Kristina M. Johnson
21 Peter J. Mohler
22 Walter "Ted" Carter, Jr.

We can accomplish the same task using the built-in `enumerate` function:

For this example, we will ask Python to return two variables from the presidents list, the `index` position and the `president`.

In [264]:
for index, president in enumerate(presidents):
    print(index, president)

0 Edward Francis Baxter Orton Sr
1 Walter Quincy Scott
2 William Henry Scott
3 James Hulme Canfield
4 William Oxley Thompson
5 George Washington Rightmire
6 William McPherson
7 Howard Landis Bevis
8 Novice Gail Fawcett
9 Harold Leroy Enarson
10 Edward Harrington Jennings
11 E. Gordon Gee
12 John Richard Sisson
13 William English Kirwan
14 Edward Harrington Jennings
15 Karen Ann Holbrook
16 Joseph A. Alutto
17 E. Gordon Gee
18 Joseph A. Alutto
19 Michael V. Drake
20 Kristina M. Johnson
21 Peter J. Mohler
22 Walter "Ted" Carter, Jr.

We can print a more clear statement using a *f-string*, which allow us to insert variables into a print statement.

In [266]:
for index, president in enumerate(presidents):
    print(f"{president} was the {index} president of The Ohio State University")

Edward Francis Baxter Orton Sr was the 0 president of The Ohio State University
Walter Quincy Scott was the 1 president of The Ohio State University
William Henry Scott was the 2 president of The Ohio State University
James Hulme Canfield was the 3 president of The Ohio State University
William Oxley Thompson was the 4 president of The Ohio State University
George Washington Rightmire was the 5 president of The Ohio State University
William McPherson was the 6 president of The Ohio State University
Howard Landis Bevis was the 7 president of The Ohio State University
Novice Gail Fawcett was the 8 president of The Ohio State University
Harold Leroy Enarson was the 9 president of The Ohio State University
Edward Harrington Jennings was the 10 president of The Ohio State University
E. Gordon Gee was the 11 president of The Ohio State University
John Richard Sisson was the 12 president of The Ohio State University
William English Kirwan was the 13 president of The Ohio State University
Edward Harrington Jennings was the 14 president of The Ohio State University
Karen Ann Holbrook was the 15 president of The Ohio State University
Joseph A. Alutto was the 16 president of The Ohio State University
E. Gordon Gee was the 17 president of The Ohio State University
Joseph A. Alutto was the 18 president of The Ohio State University
Michael V. Drake was the 19 president of The Ohio State University
Kristina M. Johnson was the 20 president of The Ohio State University
Peter J. Mohler was the 21 president of The Ohio State University
Walter "Ted" Carter, Jr. was the 22 president of The Ohio State University

Remember, Python is a zero-indexed programming language. I can further clean up this script by adding 1 to each index position and using a conditional statement to add a superscript to each number.

In [268]:
for index, president in enumerate(presidents):
    index=index+1
    if index==1 or index==21:
        superscript='st'
    elif index==2 or index==22:
        superscript='nd'
    elif index==3 or index==23:
        superscript='rd'
    elif index>=4 and index<=20:
        superscript='th'
    print(f"{president} was the {index}{superscript} president of The Ohio State University")

Edward Francis Baxter Orton Sr was the 1st president of The Ohio State University
Walter Quincy Scott was the 2nd president of The Ohio State University
William Henry Scott was the 3rd president of The Ohio State University
James Hulme Canfield was the 4th president of The Ohio State University
William Oxley Thompson was the 5th president of The Ohio State University
George Washington Rightmire was the 6th president of The Ohio State University
William McPherson was the 7th president of The Ohio State University
Howard Landis Bevis was the 8th president of The Ohio State University
Novice Gail Fawcett was the 9th president of The Ohio State University
Harold Leroy Enarson was the 10th president of The Ohio State University
Edward Harrington Jennings was the 11th president of The Ohio State University
E. Gordon Gee was the 12th president of The Ohio State University
John Richard Sisson was the 13th president of The Ohio State University
William English Kirwan was the 14th president of The Ohio State University
Edward Harrington Jennings was the 15th president of The Ohio State University
Karen Ann Holbrook was the 16th president of The Ohio State University
Joseph A. Alutto was the 17th president of The Ohio State University
E. Gordon Gee was the 18th president of The Ohio State University
Joseph A. Alutto was the 19th president of The Ohio State University
Michael V. Drake was the 20th president of The Ohio State University
Kristina M. Johnson was the 21st president of The Ohio State University
Peter J. Mohler was the 22nd president of The Ohio State University
Walter "Ted" Carter, Jr. was the 23rd president of The Ohio State University

## Practice

In [270]:
#LET'S CREATE A SECOND LIST OF PRESIDENT TENURE DATES
tenure_dates=['1873-1881','1881-1883','1883-1895','1895-1899','1899-1925','1925-1938','1938-1940','1940-1956',
                  '1956-1972','1972-1981','1981-1990','1990-1998','1997-1998','1998-2002','2002','2002-2007','2007','2007-2013','2013-2014',
                  '2014-2020','2020-2023','2023','2024-']

print(tenure_dates)

['1873-1881', '1881-1883', '1883-1895', '1895-1899', '1899-1925', '1925-1938', '1938-1940', '1940-1956', '1956-1972', '1972-1981', '1981-1990', '1990-1998', '1997-1998', '1998-2002', '2002', '2002-2007', '2007', '2007-2013', '2013-2014', '2014-2020', '2020-2023', '2023', '2024-']

In [272]:
#2. NOW LET'S CREATE A NEW LIST THAT COMBINES EACH PRESIDENT AND THEIR TENURE

presidents_tenure=[] ## THIS CREATES AN EMPTY LIST WE CAN ADD ITEMS TO
for index, president in enumerate(presidents):
    tenure=tenure_dates[index]
    president_tenure_dates=president+', '+tenure
    presidents_tenure.append(president_tenure_dates) ## WE USE THE APPEND METHOD TO ADD ITEMS TO OUR NEW LIST

print(presidents_tenure)

['Edward Francis Baxter Orton Sr, 1873-1881', 'Walter Quincy Scott, 1881-1883', 'William Henry Scott, 1883-1895', 'James Hulme Canfield, 1895-1899', 'William Oxley Thompson, 1899-1925', 'George Washington Rightmire, 1925-1938', 'William McPherson, 1938-1940', 'Howard Landis Bevis, 1940-1956', 'Novice Gail Fawcett, 1956-1972', 'Harold Leroy Enarson, 1972-1981', 'Edward Harrington Jennings, 1981-1990', 'E. Gordon Gee, 1990-1998', 'John Richard Sisson, 1997-1998', 'William English Kirwan, 1998-2002', 'Edward Harrington Jennings, 2002', 'Karen Ann Holbrook, 2002-2007', 'Joseph A. Alutto, 2007', 'E. Gordon Gee, 2007-2013', 'Joseph A. Alutto, 2013-2014', 'Michael V. Drake, 2014-2020', 'Kristina M. Johnson, 2020-2023', 'Peter J. Mohler, 2023', 'Walter "Ted" Carter, Jr., 2024-']

In [ ]:
#2. TRY CREATING THE SAME PRESIDENTS_TENURE LIST USING THE INDEX METHOD
##You will need an empty list
##You will need a for loop

Since the index positions for the presidents and the tenure_dates lists are aligned, we can also use the `zip()` function with a for loop to combine these lists.

In [274]:
for president, tenure in zip(presidents, tenure_dates):
    print(f"{president}, {tenure}")

Edward Francis Baxter Orton Sr, 1873-1881
Walter Quincy Scott, 1881-1883
William Henry Scott, 1883-1895
James Hulme Canfield, 1895-1899
William Oxley Thompson, 1899-1925
George Washington Rightmire, 1925-1938
William McPherson, 1938-1940
Howard Landis Bevis, 1940-1956
Novice Gail Fawcett, 1956-1972
Harold Leroy Enarson, 1972-1981
Edward Harrington Jennings, 1981-1990
E. Gordon Gee, 1990-1998
John Richard Sisson, 1997-1998
William English Kirwan, 1998-2002
Edward Harrington Jennings, 2002
Karen Ann Holbrook, 2002-2007
Joseph A. Alutto, 2007
E. Gordon Gee, 2007-2013
Joseph A. Alutto, 2013-2014
Michael V. Drake, 2014-2020
Kristina M. Johnson, 2020-2023
Peter J. Mohler, 2023
Walter "Ted" Carter, Jr., 2024-

## Building Lists
We can create new lists from existing lists using the `for` loop and the `append()` method.

Let's find all states bordering the pacific ocean in the United States.

In [276]:
#FIRST WE START BY ASSIGNING AN EMPTY LIST TO A VARIABLE
pacific_states=[ ]

# NEXT WE NEED A LIST OF ALL THE STATES
united_states=["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida",
               "Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine",
               "Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska",
               "Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota",
               "Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee",
               "Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

#THEN WE USE A FOR LOOP WITH A CONDITIONAL STATEMENT TO FIND THE WESTERN STATES
for state in united_states:
    if state=="Alaska" or state=="California" or state=="Hawaii" or state=="Oregon" or state=="Washington":
        pacific_states.append(state)
        
print(pacific_states)

['Alaska', 'California', 'Hawaii', 'Oregon', 'Washington']

## Practice
Use the united_states list in the cell above and create a list containing all states bordering the [great lakes](https://www.worldatlas.com/articles/the-eight-us-states-located-in-the-great-lakes-region.html#:~:text=Map%20of%20the%20Great%20Lakes,Michigan%2C%20Minnesota%2C%20and%20Wisconsin.).

In [ ]:
#CREATE A LIST CONTAINING ALL STATES BORDERING THE GREAT LAKES

## Number of Items in a List
It can be helpful to know the number of items in a list when you are harvesting data from a website or pulling data from a database. We can find the number of items in a list using the `len()` function.

In [278]:
len(united_states)

50

## Counter Variables
We can use the built-in `enumerate()` function or the `index()` method to track the index position of an item in a list. It can be helpful sometimes, however, to track position in a list using a counter variable.

In [280]:
count=0
for state in united_states:
    count +=1
    print('Starting record '+str(count)+' '+state)

Starting record 1 Alabama
Starting record 2 Alaska
Starting record 3 Arizona
Starting record 4 Arkansas
Starting record 5 California
Starting record 6 Colorado
Starting record 7 Connecticut
Starting record 8 Delaware
Starting record 9 Florida
Starting record 10 Georgia
Starting record 11 Hawaii
Starting record 12 Idaho
Starting record 13 Illinois
Starting record 14 Indiana
Starting record 15 Iowa
Starting record 16 Kansas
Starting record 17 Kentucky
Starting record 18 Louisiana
Starting record 19 Maine
Starting record 20 Maryland
Starting record 21 Massachusetts
Starting record 22 Michigan
Starting record 23 Minnesota
Starting record 24 Mississippi
Starting record 25 Missouri
Starting record 26 Montana
Starting record 27 Nebraska
Starting record 28 Nevada
Starting record 29 New Hampshire
Starting record 30 New Jersey
Starting record 31 New Mexico
Starting record 32 New York
Starting record 33 North Carolina
Starting record 34 North Dakota
Starting record 35 Ohio
Starting record 36 Oklahoma
Starting record 37 Oregon
Starting record 38 Pennsylvania
Starting record 39 Rhode Island
Starting record 40 South Carolina
Starting record 41 South Dakota
Starting record 42 Tennessee
Starting record 43 Texas
Starting record 44 Utah
Starting record 45 Vermont
Starting record 46 Virginia
Starting record 47 Washington
Starting record 48 West Virginia
Starting record 49 Wisconsin
Starting record 50 Wyoming

## List Comprehensions
List comprehensions offer another way to write a for loop. Instead of writing

In [282]:
pacific_states=[]
for state in united_states:
    if state=="Alaska" or state=="California" or state=="Hawaii" or state=="Oregon" or state=="Washington":
        pacific_states.append(state)

to find pacific_states, we would write just one line:

In [ ]:
pacific_states = [state for state in united_states if state=="Alaska" or state=="California" or state=="Hawaii" or state=="Oregon" or state=="Washington"]

In [ ]:
pacific_states

The statement starts with the item to extract followed by a slightly reformatted for loop.