# Pandas
Pandas is a Python library for cleaning and analyzing data using *Series* and *DataFrames* data structures. Data can be imported into pandas from .csv, .json, and .xlsx files, as well as SQL database tables. 

To explore pandas we will look at a list of publications indexed in [PubMed](https://pubmed.ncbi.nlm.nih.gov/) between 2018 and 2022 that had at least one NIH funded Ohio State author. We will start by importing the file `publications.csv` into pandas.

## Import a .csv file

To use a library in Python we must first `import` the library. When importing pandas it is common convention to assign pandas the alias `pd`. This will save you time when typing pandas commands in Python. We then read in our `publications.csv` file and assign the read file to the variable `publications_df`.

In [ ]:
import pandas as pd
publications_df = pd.read_csv('publications.csv', delimiter=',')

publications_df

## View data
Pandas automatically displayed the first five and last five rows of the data. The numbers in the first column represent an index that pandas automatically assigned to each row. The index is used to select rows. You can assign the index to another column, if appropriate.

### .head()
displays more rows

In [ ]:
publications_df.head(50)

### .sample()
displays random sample of rows

In [ ]:
publications_df.sample(10)

### .info()
Gets a quick list of column names, a count of the non-null values in each column, and the data type for each column. Pandas data types include:

| **Pandas Data Type** |  **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `object`         | string                                                                               |
| `float64`         | float                                               |
| `int64`       | integer                                                        |
| `datetime64`       |  date time

In [ ]:
publications_df.info()

### .shape
Shows the number of rows and columns in the dataset.

In [ ]:
publications_df.shape

### .columns
Provides list of column names

In [ ]:
publications_df.columns

### .describe()
Provides summary statistics, if applicable, for your dataset

In [ ]:
publications_df.describe(include='all')

## Working with Columns

### Select Column(s)
Syntax:\
`name_df['column name']`

In [ ]:
publications_df['journal_title']

To select more than one column, enclose the column name in double square brackets. Why? Pandas considers a column name in single square brackets a Series object.

In [ ]:
type(publications_df['journal_title'])

Column names enclosed in double square brackets are considered DataFrame object.

In [ ]:
type(publications_df[['journal_title']])

The Series object `publications_df['JournalTitle']` will display differently than the DataFrame object `publications_df[['JournalTitle']]`. The Series object will also return an error if I try to select more than one column.

In [ ]:
##Note, this will return an error
publications_df['journal_title','journal_abbr']

In [ ]:
## Note Series object display formatting
publications_df['journal_title']

The DataFrame object allows me to select more than one column.

In [ ]:
publications_df[['journal_title','journal_abbr']]

### Rename Columns

Syntax:\
`df_name.rename(columns={'old name':'new name'})`

In [ ]:
publications_df.rename(columns={'journal_title':'Journal_Title'})

### Drop Columns

To drop one column

Syntax:
`df_name.drop(columns="column name to drop")`

To drop more than one column
`df_name.drop(columns=["column1 to drop","column2 to drop"])`

In [ ]:
one_dropped_column=publications_df.drop(columns="pub_year")

In [ ]:
one_dropped_column

In [ ]:
publications_df

In [ ]:
two_dropped_columns=publications_df.drop(columns=['pub_year','authors'])

In [ ]:
two_dropped_columns

### Add Columns
Syntax:\
`df_name['new column name']=new_column_value`
This assigns values to the newly created column

In [ ]:
publications_df['new_column']='new column value'

In [ ]:
publications_df.columns

In [ ]:
publications_df['new_column']

## Filter | Limit Data
To filter a column to only display values for one condition, such as only display rows with the JournalTitle **Nature communications**

Start by writing the conditional statement first

`publications_df['JournalTitle'] == 'Nature communications'`

Then use the original select column syntax `name_df['column name']` and substitute your conditional statement for 'column name' 

`name_df[conditional statement]`

In [ ]:
publications_df[publications_df['journal_title'] == 'Nature communications']

To simplify writing these statements, you may want to assign the conditional statement to a variable first and then substitute the conditional statement variable for the column name.

In [ ]:
nature_communications_filter=publications_df['journal_title'] == 'Nature communications'

publications_df[nature_communications_filter]

## Iterate through .csv file:
We iterate through each index and row of a .csv file using the `.iterrows()` method with the df_name in a for loop. We pull the value for each column in a row using the syntax `row.column_name`. We can also use the `.iloc` method with the slicing techniques for strings and lists to ignore the header and/or pull certain rows from the list. 

Syntax:\
`for idx, row in df_name.iloc[x:y].iterrows():`\
`     variable1=row.column_name`

In [ ]:
for idx, row in publications_df.iloc[1:10].iterrows(): #start at 1 because the headers are in row 0
    row_index=idx
    article_title=row.article_title
    journal_title=row.journal_title
    journal_abbr=row.journal_abbr
    pub_year=row.pub_year
    journal_volume=row.journal_volume
    journal_issue=row.journal_issue
    page_numbers=row.page_number
    
    print(row_index)
    print(f"Article Title = {article_title}")
    print(f"{journal_abbr}. {pub_year};{journal_volume}({journal_issue}){page_numbers}")

## Store results
Usually we iterate through a DataFrame because we want to transform or normalize our data in some way. We then need to store our changes in a new DataFrame. In the example above, Python is reading through one row of the original DataFrame at a time and then making changes on that row.

In [ ]:
#1. Create a DataFrame in which to store the results. Assign names to each column that will be included in the results. This DataFrame should be positioned before your for loop.


df_results=pd.DataFrame(columns=["j_title","year"])

#2. Create your `for` loop. 
                                 
for idx, row in publications_df.iloc[1:11].iterrows():
    journal_title=row.journal_title
    pub_year=row.pub_year

#3. Create a dictionary to store the individual row you created in your `for` loop. Then create a DataFrame to store this row.

    row_for_dataframe={
     "j_title":journal_title,
     "year":pub_year
     }
    df_to_store_row=pd.DataFrame(row_for_dataframe, index=[0])
    
#4. Last use pd.concat() to add the row to df created in step 1 to store results.
    df_results=pd.concat([df_to_store_row, df_results], axis=0, ignore_index=True)
    
    #axis=0 tells Python to concatenate rows; axis=1 concatenates columns.
    #The parameter ignore_index=True resets the index number in df_results.

In [ ]:
df_results

## Write to .csv
I can save my data in a new .csv file using the `.to_csv` method. The path for where I want to store the new file is in quotation marks. It is good practice to specify `encoding='utf-8`, especially if you are working with extended Latin or non-Roman characters. You can also remove the pandas assigned index  number by setting `index=False`.

In [ ]:
df_results.to_csv('results.csv', encoding='utf-8', index=False)